body{
	background-color: #232323;
	margin:0;
	font-family: "Avenir"
}

.square{

	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background-color 0.5s;
	
}


#container{
	margin: 20px auto;
	max-width: 600px;
}

h1{
	color: white;
	text-align: center;
	background-color: steelblue;
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
	line-height: 1.1;
}

#message{
	color: steelblue;
	display:inline-block;
	width: 20%
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;

}

.selected{
	color: white;
	background: steelblue;
}

#pickedColor{
	font-size: 200%;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s;
	outline: none;

}

button:hover{
	color: white;
	background: steelblue;
}